################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BackendService/TodolistAPI/.vs/TodolistAPI
/BackendService/TodolistAPI/TodolistAPI/obj
/BackendService/TodolistAPI/.vs/ProjectEvaluation/todolistapi.metadata.v7.bin
/BackendService/TodolistAPI/.vs/ProjectEvaluation/todolistapi.projects.v7.bin
/BackendService/TodolistAPI/TodolistAPI/bin/Debug/net6.0
